.music-detail-pane {
    -base-hover-color: rgb(30, 207, 157);
    -fx-background-image: url("../image/bg_black.jpg");
}

.svg-btn {
    -fx-max-width: 16;
    -fx-max-height: 16;
}

.svg-btn Region {
    -fx-background-color: white;
}

.svg-btn:hover Region {
    -fx-background-color: rgb(30, 207, 157);
}

.download-btn Region {
    -fx-shape: "M544.938667 951.296c-34.133333 0-68.096-12.970667-94.037334-38.912L189.610667 651.093333c-27.136-27.136-34.986667-66.048-20.138667-101.546666s47.616-57.514667 86.186667-57.514667h80.554666V202.922667c0-60.074667 48.981333-109.056 109.056-109.056h199.509334c60.074667 0 109.056 48.981333 109.056 109.056v323.242666c0 18.773333-15.36 34.133333-34.133334 34.133334s-34.133333-15.36-34.133333-34.133334V202.922667a40.789333 40.789333 0 0 0-40.789333-40.789334h-199.68a40.789333 40.789333 0 0 0-40.789334 40.789334v323.242666c0 18.773333-15.36 34.133333-34.133333 34.133334h-114.688c-15.018667 0-21.162667 10.752-23.04 15.36-1.877333 4.608-5.290667 16.554667 5.461333 27.136l261.290667 261.290666a64.682667 64.682667 0 0 0 91.477333 0l261.290667-261.290666c10.581333-10.581333 7.338667-22.528 5.461333-27.136-1.877333-4.608-8.021333-15.36-23.04-15.36-18.773333 0-34.133333-15.36-34.133333-34.133334s15.36-34.133333 34.133333-34.133333c38.4 0 71.338667 22.016 86.016 57.514667s6.997333 74.410667-20.138666 101.546666L638.976 912.384a132.727467 132.727467 0 0 1-94.037333 38.912z";
}

.comment-btn Region {
    -fx-shape: "M853.333333 768c35.413333 0 64-20.650667 64-55.978667V170.581333A63.978667 63.978667 0 0 0 853.333333 106.666667H170.666667C135.253333 106.666667 106.666667 135.253333 106.666667 170.581333v541.44C106.666667 747.285333 135.338667 768 170.666667 768h201.173333l110.016 117.44a42.752 42.752 0 0 0 60.586667 0.042667L651.904 768H853.333333z m-219.029333-42.666667h-6.250667l-115.797333 129.962667c-0.106667 0.106667-116.010667-129.962667-116.010667-129.962667H170.666667c-11.776 0-21.333333-1.621333-21.333334-13.312V170.581333A21.205333 21.205333 0 0 1 170.666667 149.333333h682.666666c11.776 0 21.333333 9.536 21.333334 21.248v541.44c0 11.754667-9.472 13.312-21.333334 13.312H634.304zM341.333333 490.666667a42.666667 42.666667 0 1 0 0-85.333334 42.666667 42.666667 0 0 0 0 85.333334z m170.666667 0a42.666667 42.666667 0 1 0 0-85.333334 42.666667 42.666667 0 0 0 0 85.333334z m170.666667 0a42.666667 42.666667 0 1 0 0-85.333334 42.666667 42.666667 0 0 0 0 85.333334z";
}

.more-btn Region {
    -fx-shape: "M512 1023.999128a512.146616 512.146616 0 0 1-199.301095-983.727163 512.146616 512.146616 0 0 1 398.561624 943.495764 508.891189 508.891189 0 0 1-199.260529 40.231399z m0-960.594363a448.731709 448.731709 0 0 0-174.606501 861.957967A448.731709 448.731709 0 0 0 686.616642 98.636396a445.912367 445.912367 0 0 0-174.616642-35.231631z M250.328575 513.160768m-50.707586 0a50.707586 50.707586 0 1 0 101.415171 0 50.707586 50.707586 0 1 0-101.415171 0Z M513.125708 513.160768m-50.707585 0a50.707586 50.707586 0 1 0 101.415171 0 50.707586 50.707586 0 1 0-101.415171 0Z M775.932984 513.160768m-50.707586 0a50.707586 50.707586 0 1 0 101.415171 0 50.707586 50.707586 0 1 0-101.415171 0Z";
}

.prev-btn Region {
    -fx-shape: "M381.44 577.28l346.88 240.64c34.56 24.32 83.2-1.28 83.2-43.52V293.12c0-42.24-47.36-67.84-83.2-43.52L381.44 490.24c-30.72 20.48-30.72 65.28 0 87.04zM320 828.16c-21.76 0-38.4-16.64-38.4-38.4v-512c0-21.76 16.64-38.4 38.4-38.4s38.4 16.64 38.4 38.4v512c0 20.48-16.64 38.4-38.4 38.4z";
}

.play-btn {
    -fx-background-color: null;
}

.play-btn Region {
    -fx-pref-width: 35;
    -fx-pref-height: 35;
    -fx-shape: "M512 0a512 512 0 1 0 512 512A512 512 0 0 0 512 0z m216.992 541.128L404.96 728.208a33.6 33.6 0 0 1-50.456-29.128V324.928a33.6 33.6 0 0 1 50.456-29.136l324 187.08a33.6 33.6 0 0 1 0 58.256z m0 0";
    -fx-background-color: -base-hover-color;
}

.play-btn:selected Region {
    -fx-shape: "M512 1024A512 512 0 1 1 512 0a512 512 0 0 1 0 1024zM320 320v384h128V320H320z m256 0v384h128V320H576z";
}

.next-btn Region {
    -fx-shape: "M686.08 448L339.2 207.36c-34.56-24.32-83.2 1.28-83.2 43.52v481.28c0 42.24 47.36 67.84 83.2 43.52l346.88-240.64c29.44-21.76 29.44-66.56 0-87.04zM746.24 785.92c-21.76 0-38.4-16.64-38.4-38.4v-512c0-21.76 16.64-38.4 38.4-38.4s38.4 16.64 38.4 38.4v512c0 20.48-16.64 38.4-38.4 38.4z";
}

.sound-btn Region {
    -fx-background-color: #7b7a7a;
    -fx-shape: "M580.096 907.264c-19.968 0-39.424-6.144-56.32-17.92l-215.04-157.696c-11.264-8.192-25.6-12.288-40.448-12.288H194.048c-53.76 0-97.792-44.032-97.792-97.792V402.944c0-53.76 44.032-97.792 97.792-97.792h74.24c14.848 0 29.184-4.608 40.96-12.8l214.016-156.672 0.512-0.512c35.84-25.088 82.432-23.552 116.736 3.072 23.552 18.432 37.376 48.128 37.376 79.36v589.312c0 28.16-10.752 54.272-29.696 72.704-18.432 17.92-42.496 27.648-68.096 27.648zM194.048 375.808c-14.848 0-27.136 12.288-27.136 27.136v218.624c0 14.848 12.288 27.136 27.136 27.136h74.24c29.184 0 57.856 8.704 81.92 25.6l215.552 157.696c4.096 2.56 9.216 4.608 14.848 4.608 5.12 0 12.288-1.536 19.456-8.192 5.12-4.608 7.68-12.8 7.68-20.992V217.6c0-10.24-3.584-18.944-10.24-23.552-9.728-7.68-22.528-8.192-32.256-1.024L350.72 349.696c-24.576 17.408-52.736 26.112-82.432 26.112H194.048zM837.632 694.784c-6.656 0-13.312-2.048-18.944-5.632-16.384-10.752-21.504-32.256-10.752-49.152 66.048-103.424 66.048-193.536 0-283.136-11.776-15.872-8.192-37.888 7.168-49.664s37.888-8.192 49.664 7.168c83.456 113.152 84.48 235.008 3.072 363.008-7.168 11.776-18.432 17.408-30.208 17.408z";
}

.lyric-label:hover {
    -fx-text-fill: -base-hover-color;
}

.show-list-icon {
    -fx-background-color: #7b7a7a;
    -fx-shape: "M1003.93551646 175.21292325c-55.92405333-63.79484562-127.17543939-113.71224178-205.88336713-144.15978192a41.30094862 41.30094862 0 0 0-56.33830517 38.52545897v510.15164207a216.03254636 216.03254636 0 0 0-134.63197984-47.01762962c-119.92602548 0-217.48242963 97.55640415-217.48242963 217.48242963S487.15583883 967.67747201 607.08186432 967.67747201s217.48242963-97.55640415 217.48242962-217.48242963c0-2.27838695-0.20712653-4.55677511-0.41425305-6.83516207 0-1.24275675 0.41425184-2.27838695 0.41425305-3.52114492V134.82332918c43.91073777 24.64800829 83.88608 56.95968355 117.23338547 94.86376414 15.12020741 17.19146784 41.42522429 18.84847764 58.40956682 3.72827023 17.19146784-14.91308089 18.84847764-41.01097245 3.72827023-58.2024403zM607.08186432 884.82702222c-74.15115261 0-134.63197984-60.48082845-134.63198106-134.63197984s60.48082845-134.63197984 134.63198106-134.63198106 134.63197984 60.48082845 134.63197984 134.63198106-60.48082845 134.63197984-134.63197984 134.63197984zM58.19763675 263.44865185h476.39008355c22.78387317 0 41.42522429-18.64135111 41.42522549-41.42522429s-18.64135111-41.42522429-41.42522549-41.4252255h-476.39008355a41.42522429 41.42522429 0 1 0 0 82.85044979zM348.17420918 449.86216297h-289.97657243c-22.78387317 0-41.42522429 18.64135111-41.42522429 41.42522428s18.64135111 41.42522429 41.42522429 41.4252255h289.97657243c22.78387317 0 41.42522429-18.64135111 41.42522551-41.4252255s-18.64135111-41.42522429-41.42522551-41.42522428zM223.8985351 719.12612386h-165.70089835c-22.78387317 0-41.42522429 18.64135111-41.42522429 41.42522429s18.64135111 41.42522429 41.42522429 41.42522429h165.70089835c22.78387317 0 41.42522429-18.64135111 41.42522551-41.42522429s-18.64135111-41.42522429-41.42522551-41.42522429z";
}

.show-list-btn:hover > Label {
    -fx-text-fill: -base-hover-color;
}

.show-list-btn:hover > .show-list-icon {
    -fx-background-color: -base-hover-color;
}