#recommend-vbox {
    -fx-background-color: #f5f5f6;
}

.carousel {
    -fx-border-color: transparent;
}

.new-music-pane {
    -base-hover-color: rgb(30, 207, 157);
}

.new-music-left {
    -fx-shape: "M716.288 942.08c-5.12 0-10.24-2.048-14.336-6.144l-409.088-409.6c-8.192-8.192-8.192-20.992 0-29.184l409.088-409.6c8.192-8.192 20.992-8.192 29.184 0 8.192 8.192 8.192 20.992 0 29.184L336.384 512l394.752 395.264c8.192 8.192 8.192 20.992 0 29.184-4.608 3.584-9.728 5.632-14.848 5.632z";
    -fx-background-color: #7b7b7b;
}

.new-music-left:hover {
    -fx-background-color: -base-hover-color;
}

.new-music-right {
    -fx-shape: "M721.5 512c0-4.6-1.8-9.2-5.3-12.7l-383-383.1c-7-7-18.4-7-25.5 0s-7 18.4 0 25.5L678.1 512 307.7 882.3c-7 7-7 18.4 0 25.5 7 7 18.4 7 25.5 0l383.1-383.1c3.5-3.5 5.2-8.1 5.2-12.7z";
    -fx-background-color: #7b7b7b;
}

.new-music-right:hover {
    -fx-background-color: -base-hover-color;
}

.new-music-pane > VBox:hover {
    -fx-background-color: rgb(235, 235, 235);
}
